@model Gymbokning.ViewModels.GymClassDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>GymClass details</h1>

<div>
    @*<h4>GymClass</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <h4>Bookings</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var classMember in Model.GymClassMembers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => classMember.FullName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => classMember.Email)
            </td>
        </tr>
}
    </tbody>
    </table>

</div>

<div>
    @if(User.IsInRole("Admin")){
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> <span> | </span> 
    }
    <a asp-action="Index">Tillbaka till listan</a>
</div>
